* {
    border: none;
    border-radius: 0;
    font-family: sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
}

waybar#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    background: #1f1f1f;
    color: white;
    border-radius: 20px;
    margin-left: 5px;
}

#workspaces button:first-child {
    margin-left: 0;
}

#workspaces button.active {
    background: tomato;
}

#clock,
#battery,
#network,
#bluetooth,
#wireplumber,
#backlight,
#idle_inhibitor {
    padding: 0 10px;
    color: black;
}

#window {
    margin: 0px 5px;
}

.modules-left {
    margin-left: 20px;
}

.modules-right {
    margin-right: 20px;
}

#clock {
    background-color: #abe9b3;
    color: #161320;
    border-radius: 0 20px 20px 0;
}

#battery {
    background-color: #b5e8e0;
    color: #161320;
}

#battery.charging,
#battery.plugged {
    background-color: #b5e8e0;
    color: #161320;
}

@keyframes critical-battery {
    to {
        background-color: white;
        color: black;
    }
}

#battery.critical:not(.charging) {
    background-color: #b5e8e0;
    color: #161320;
    animation-name: critical-battery;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: black;
}

#network {
    background-color: #bd93f9;
    color: #161320;
}

#network.disconnected {
    background-color: black;
    color: grey;
}

@keyframes bluetooth-discovering {
    to {
        background-color: white;
        color: black;
    }
}

#bluetooth {
    background-color: #96cdfb;
    color: black;
}

#bluetooth.discovering {
    animation-name: bluetooth-discovering;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth.off {
    background-color: black;
    color: grey;
}

#wireplumber {
    background-color: #fae3b0;
    color: #1a1826;
}

#wireplumber.muted {
    background-color: black;
    color: grey;
}

#backlight {
    background-color: #f8bd96;
    color: #161320;
}

#idle_inhibitor {
    background-color: black;
    color: grey;
    border-radius: 20px 0px 0px 20px;

    transition: all 0.5s ease;
}

#idle_inhibitor.activated {
    background-color: white;
    color: black;
}
